# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env


# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/


# Model files
models/
*.bin
*.onnx

# Application files
app_streamlit.py

# misc
.DS_Store
.idea/
.vscode/
